.student-dashboard .student-dashboard-heading{
    font-size: 2.5rem;
    color: rgb(255, 0, 136);
    margin: 15px;
}

.student-features{
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 30px;
}
.student-features .student-feature{
    padding: 30px;
    border-radius: 20px;
    width: 350px;
    transition-duration: 0.5s;
    cursor: pointer;

}
.student-features .student-feature:hover{
    transform: translateY(-10px);
}
.student-feature h2{
    font-size: 2.5rem;
}
.student-feature p{
    font-size: 20px;
}
.input-tag{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.input-tag label{
    color: rgb(255, 0, 136) ;
    font-size: 1.5rem;
}
.input-tag input{
    outline:none;
    border:2px rgb(255, 0, 136) solid;
    width: 20%;
    height: 25px; 
}
