.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    padding-right:200px ;
    align-items: center;
}
.logo{
    scale: 0.5;
}
.sign-in-up-button{
    display: flex;
    gap: 30px;
}
.sign-up-button{
    padding: 10px 15px;
    color: white ;
    border: none;
    background-color: blue;
    font-size: 1.0rem;
    font-weight:bold ;
    border-radius: 35px;
    cursor: pointer;
}
.sign-in-button{
    padding: 10px 15px;
    color: white ;
    border: none;
    background-color: rgb(255, 0, 136);
    font-size: 1.0rem;
    font-weight:bold ;
    border-radius: 35px;
    cursor: pointer;
}